@import uk.gov.hmrc.$!APP_PACKAGE_NAME!$.config.AppConfig
@import uk.gov.hmrc.govukfrontend.views.html.components.GovukLayout
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcStandardFooter

@this(
        govukLayout: GovukLayout,
        head: Head,
        hmrcStandardFooter: HmrcStandardFooter,
        languageSelector: LanguageSelector,
        appConfig: AppConfig
)
@(pageTitle: Option[String] = None,
  headBlock: Option[Html] = None,
  scriptsBlock: Option[Html] = None
)(contentBlock: Html)(implicit request: Request[_], messages: Messages)

@beforeContentBlock = {
    @if(appConfig.welshLanguageSupportEnabled) {@languageSelector()}
}

@govukLayout(
    pageTitle = pageTitle,
    headBlock = Some(head(headBlock)),
    scriptsBlock = scriptsBlock,
    beforeContentBlock = Some(beforeContentBlock),
    footerBlock = Some(hmrcStandardFooter())
)(contentBlock)
